/*** Variables ***/
$color-white: #FFFFFF;
$color-black: #000000;
$color-main-text: #8956d6;
$color-home-cardlist: #F6F6F6;
$color-bg-gradient: linear-gradient(90deg, rgba(14,10,84,1) 0%, rgba(137,86,214,1) 38%, rgba(27,52,201,1) 100%);

$breakpoint-mobile: 426px;