/*** Home ***/
.Home {
    display: flex;
    flex-direction: column;
    margin: 50px auto;

    @include mobile {
        margin: 25px auto;
    }

    &__cardlist {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 86%;
        height: auto;
        border-radius: 25px;
        padding: 56px 50px 43px;
        margin: 43px auto 0px;
        gap: 35px;
        background-color: $color-home-cardlist;

        @include mobile {
            border-radius: 10px;
            padding: 0;
            margin: 22px auto 0px;
            gap: 20px;
            background-color: $color-white;
        }

        & a {
            @include mobile {
                padding: auto;
            }
        }
    }
}