/*** Footer ***/

.Footer {
    display: flex;
    justify-content: center;
    background-color: $color-white;
    color: $color-purple;
    height: 209px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 29px;
        font-size: 1.3rem;

        @include mobile {
            max-width: 130px;
            text-align: center;
        }

        & img {
            height: 100%;
            width: auto;
        }
    }
}